[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "*"
numpy = "==1.19.3"
pandas = "*"
psaw = "*"
moviepy = "*"
zstandard = "*"
discord-logging = {editable = true, git = "https://github.com/Watchful1/DiscordLogging.git"}

[dev-packages]

[requires]
python_version = "3.8"
